.newsletter__container{
    background-color: rgb(255, 250, 250);
}
.newsletter__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.newsletter__icons{
    display: flex;
    justify-content: space-between;
  
}
.newsletter__icon{
    display: flex;
    justify-content: space-between;
    
   
}
.newsletter{
    margin: 15px;
}
.iconss{
    color: #209637 ;
    height: 2rem;
    width: 2rem;
   margin-bottom: 1rem;
}
.newsletter__icon p{
    font-size: larger;
    font-weight: bolder;
}
