.partner{
    margin-top: 4rem;
    margin-left: 5rem;
    font-family: 'Raleway';
}
.partner p{
    color:  #9A9999;
    font-size: smaller;
    font-weight: 500;
   
}
.partner h5{
    font-style: normal;
    font-weight: 600;
     color: #0B0B0A;
     font-size: 24px;
}

  .partners{
    display: flex;
     justify-content: space-around;
   
  }
  .partners__image{
  
     width: 282px;
     height: 232px;
     object-fit: contain;
     display: flex;
     justify-content: space-around;
  }